<section class="phx-hero">
  <h1>Digital Movies</h1>

  <%= if @processing do %>
    <button disabled="disabled">
      Processing...
    </button>
  <% else %>
    <button phx-click="refresh-listing">
      Refresh Listings
    </button>
   <% end %>
</section>

<%= live_redirect "Movies", to: Routes.movie_index_path(@socket, :index) %>
